<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nick Shortener</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <!-- STYLESHEETS -->
    <!-- Boostrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">

  <!-- SCRIPTS -->
    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <!-- Boostrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Local JS -->
    <script src="/js/script.js"></script>

</head>
<body>

  <nav class="navbar navbar-default container" role="navigation">
    <!-- <div class="container"> -->
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Nick Shortener</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/links">Links</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    <!-- </div> -->
  </nav>

  <div class="container neg-margin">
    <div class="page-header">
      <h1>Link Shortener <small>The longer link shortener...</small></h1>
    </div>
  </div>
