<% include ../partials/header %>
  <div class="container text-center">
    <h1>Page Not Found!</h1>
    <h2>
      Who gave you this link? If it was us, then we sincerly appologize. If it
      was someone else, you might want to take this chance to tell them they
      were wrong.
    </h2>

<% include ../partials/footer %>
