 <% include ../partials/header %>

<div class="container body text-center">
  <table class='table'>
    <tr>
      <th> Original URL </th>
      <td> <%= url %> </td>
    </tr>
    <tr>
      <th> Nick Link </th>
      <td>
        <a href="http://<%=hashurl%>">
          http://<%=hashurl%>
        </a>
      </td>
    </tr>
  </table>
</div>

<% include ../partials/footer %>
